<!--About Section-->
           <div class="row text-center">
               <div class="col-md-8 col-md-offset-2">
                   <h1>O projekcie</h1>
                   <h4>
                       <strong>Projekt zaliczeniowy z przedmiotu programowanie obiektowe. Strona w przygotowaniu.
                       </strong>
                   </h4>
               </div>

           </div>
           <div class="row text-center">
               <div class="col-md-12">
                   <h2></h2>
                   <p>

                   </p>
               </div>

           </div>

   <!--End About Section-->
