<!--Header section  -->
<div class="container" id="home">
    <div class="row text-center ">
         <div class="col-md-3 head-main ">
                        <i class="fa fa-home color-blue "></i>
                     <h3>  <a href="hello">HOME</a></h3>

             </div>
        <div class="col-md-3 head-main">

                      <i class="fa fa-edit color-blue "></i>
                     <h3>  <a href="about">O PROJEKCIE</a></h3>

             </div>
         <div class="col-md-3 head-main">

                    <i class="fa fa-file color-blue "></i>
                     <h3>  <a href="files">PLIKI</a></h3>

             </div>
         <div class="col-md-3 head-main">
               <i class="fa fa-book color-blue"></i>
                  <h3>  <a href="documentation">DOKUMENTACJA</a></h3>

             </div>
      </div>
</div>
<!--End Header section  -->
